@font-face
{
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face
{
    font-family: "Spicy Rice";
    src: url("../fonts/SpicyRice-Regular.ttf");
}

@font-face
{
    font-family: "Rajdhani";
    src: url("../fonts/Rajdhani-Regular.ttf");
}

@font-face
{
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-Regular.ttf");
}

@font-face
{
    font-family: "Pacifico";
    src: url("../fonts/Pacifico-Regular.ttf");
}

* {
    font-family: 'Raleway', serif;
    font-size: 20px;
}

a:hover
{
	text-decoration: none;
}

h1, form h3{
    font-family: 'Spicy Rice', cursive;
}

h2,
h3,
h4,
h5,
h6,
th {
    font-family: 'Rajdhani', cursive;
}

input, select, option, label span, .input-group span {
    font-family: 'Josefin Sans', cursive;
    /*font-weight: bold;*/
}

.page-name
{
    color: #FF4A20;
}

.role-name
{
    color: #117587;
}

.jumbotron {
    padding: 1%;
}

blockquote {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

#big-logo {
    height: 80px;
}

#pro-pic
{
    border-radius: 3px;
    /*box-shadow: 0px 2px 10px #202020;*/
    filter: drop-shadow(0px 2px 2px #202020);
}

.row
{
	margin-top: 1%;
	margin-bottom: 1%;
}
/*font-family: 'Arvo', serif;
font-family: 'Lobster', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;*/
.btn
{
    transition: 0.25s all;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input
{
    z-index: 1;
}

.help-block, .form-error
{/*
    position: absolute;
    bottom: 100%;*/
    z-index: 2;
    background: rgba(255,96,141,0.3);
    border-radius: 3px;
    padding: 5px;
}

.img-cover
{
    width: 100%; 
    height: 36px;
    object-fit: cover; 
    background-position: center;
    border-radius: 3px;
}

.modal img
{
    margin: 0 auto;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 10px #202020);
    /*box-shadow: 0px 0px 20px #434343;*/
}

.carousel-inner .item img
{
    width: 100%;
    height: 65vh;
    object-fit: cover !important;
}

.bg-danger
{
    background-color: #f2dede !important;
}

.btn span
{
    font-family: 'Raleway', serif;
    font-size: 16px;
    margin-left: 4px;
}

.gutter-above
{
    margin-top: 10px;
}

.gutter-below
{
    margin-bottom: 10px;
}